# Tarefa 01

- Leia os enunciados com atenção
- Saiba que pode haver mais de uma resposta correta
- Insira novas células de código sempre que achar necessário
- Em caso de dúvidas, procure os tutores
- Divirta-se :)

#### 1)  crie uma série do pandas a partir de uma lista com os dados abaixo:

Em um estudo sobre alteração na tempreatura global, A NASA disponibiliza dados de diferenças de de temperatura média da superfície terrestre relativos às médias de temperatura entre 1951 e 1980. Os dados originais podem ser vistos no site da NASA/GISS, e estão dispostos a cada década na tabela abaixo.

|ano|anomalia termica|
|:-:|:----:|
| 1900 | -0.08 |
| 1920 | -0.27 |
| 1940 | 0.12 |
| 1960 | -0.03 |
| 1980 | 0.26 |
| 2000 | 0.40 |
| 2020 | 1.02 |

Crie uma séries do Pandas a partir de uma lista com esses dados.

In [2]:
import pandas as pd
import numpy as np

In [12]:
# Seu código aqui
dados_anomalia_termica = [-0.08, -0.27, 0.12, -0.03, 0.26, 0.40, 1.02]
series_anomalia_termica = pd.Series(dados_anomalia_termica)
series_anomalia_termica

0   -0.08
1   -0.27
2    0.12
3   -0.03
4    0.26
5    0.40
6    1.02
dtype: float64

#### 2) Coloque os anos nos índices conforme a tabela.

In [14]:
# seu código aqui
indices = [1900, 1920, 1940, 1960, 1980, 2000, 2020]
series_anomalia_termica = pd.Series(dados_anomalia_termica, index = indices)
series_anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 3) A partir do dicionário abaixo, crie uma séries do Pandas:

In [18]:
dic_temperaturas = {1900: -.08, 1920: -.27, 1940: .12, 1960: -.03, 1980: .26, 2000: .40, 2020: 1.02}

# seu código aqui
dict_anomalia_termica = pd.Series(dic_temperaturas)
dict_anomalia_termica

1900   -0.08
1920   -0.27
1940    0.12
1960   -0.03
1980    0.26
2000    0.40
2020    1.02
dtype: float64

#### 4) Transforme o ndarray abaixo em um dataframe. 
O numpy é capaz de gerar arrays n-dimensionais com números pseudo-aleatórios de acordo com uma variedade de distribuições, como no exemplo abaixo. Transforme esse nd-array em um DataFrame.

In [28]:
arr = np.random.normal(100, 10, (20,3))
arr
# seu código aqui
Gauss_df = pd.DataFrame(arr)
Gauss_df

             0           1           2
0    98.344495  106.961103  101.798927
1    92.106547   88.502549  120.636066
2    95.164044   95.547071   86.571818
3    97.141716   89.213733   93.971451
4    92.233615  110.287593   77.169935
5    99.546882  105.526333  115.528067
6   102.548766   90.393007   94.520045
7    95.874989  108.308380  100.423543
8   108.173228   93.330479   95.042728
9   100.387427  102.641924  102.575904
10  114.472382   99.810959   95.717628
11  116.189861  112.470226   97.436366
12  103.767590   96.285368   88.940655
13   99.480794  106.777755  100.755250
14   98.252223   85.622824   95.058105
15   92.015359   91.572591  118.338145
16  103.373767   99.812206   83.746538
17  101.657053   82.436170   95.645646
18   92.452915  109.081647  110.384038
19  105.326871  109.938537  111.486891

#### 5) Nomeie os índices das linhas com inteiros de 1 a 20, e as colunas com os nomes "x1", "x2", e "x3" respectivamente.

In [36]:
#seu código aqui
Gauss_df = pd.DataFrame(arr, columns = ['x1', 'x2', 'x3'], index = ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '15',
                                                                    '16', '17', '18', '19', '20'])
Gauss_df

            x1          x2          x3
1    98.344495  106.961103  101.798927
2    92.106547   88.502549  120.636066
3    95.164044   95.547071   86.571818
4    97.141716   89.213733   93.971451
5    92.233615  110.287593   77.169935
6    99.546882  105.526333  115.528067
7   102.548766   90.393007   94.520045
8    95.874989  108.308380  100.423543
9   108.173228   93.330479   95.042728
10  100.387427  102.641924  102.575904
11  114.472382   99.810959   95.717628
12  116.189861  112.470226   97.436366
13  103.767590   96.285368   88.940655
14   99.480794  106.777755  100.755250
15   98.252223   85.622824   95.058105
16   92.015359   91.572591  118.338145
17  103.373767   99.812206   83.746538
18  101.657053   82.436170   95.645646
19   92.452915  109.081647  110.384038
20  105.326871  109.938537  111.486891

#### 6) No DataFrame do exercício 5, crie uma nova coluna como sendo a média das três colunas, e dê a ela o nome de "media" (não recomendo colocar acentos em nomes de variáveis).

In [38]:
# seu código aqui
Gauss_df['media'] = (Gauss_df['x1'] + Gauss_df['x2'] + Gauss_df['x3']) / 3
Gauss_df

            x1          x2          x3       media
1    98.344495  106.961103  101.798927  102.368175
2    92.106547   88.502549  120.636066  100.415054
3    95.164044   95.547071   86.571818   92.427644
4    97.141716   89.213733   93.971451   93.442300
5    92.233615  110.287593   77.169935   93.230381
6    99.546882  105.526333  115.528067  106.867094
7   102.548766   90.393007   94.520045   95.820606
8    95.874989  108.308380  100.423543  101.535637
9   108.173228   93.330479   95.042728   98.848812
10  100.387427  102.641924  102.575904  101.868418
11  114.472382   99.810959   95.717628  103.333656
12  116.189861  112.470226   97.436366  108.698818
13  103.767590   96.285368   88.940655   96.331204
14   99.480794  106.777755  100.755250  102.337933
15   98.252223   85.622824   95.058105   92.977717
16   92.015359   91.572591  118.338145  100.642032
17  103.373767   99.812206   83.746538   95.644170
18  101.657053   82.436170   95.645646   93.246289
19   92.452915  109.081647  110.384038  103.972867
20  105.326871  109.938537  111.486891  108.917433

#### 7) No DataFrame do exercício 6, crie uma nova coluna chamada "log_med", contendo o logaritmo natural da média calculada no exercício 6 <br>

In [40]:
# seu código aqui
Gauss_df['log_med'] = np.log(Gauss_df['media'])
Gauss_df

            x1          x2          x3       media   log_med
1    98.344495  106.961103  101.798927  102.368175  4.628576
2    92.106547   88.502549  120.636066  100.415054  4.609312
3    95.164044   95.547071   86.571818   92.427644  4.526426
4    97.141716   89.213733   93.971451   93.442300  4.537344
5    92.233615  110.287593   77.169935   93.230381  4.535074
6    99.546882  105.526333  115.528067  106.867094  4.671586
7   102.548766   90.393007   94.520045   95.820606  4.562478
8    95.874989  108.308380  100.423543  101.535637  4.620410
9   108.173228   93.330479   95.042728   98.848812  4.593592
10  100.387427  102.641924  102.575904  101.868418  4.623682
11  114.472382   99.810959   95.717628  103.333656  4.637963
12  116.189861  112.470226   97.436366  108.698818  4.688581
13  103.767590   96.285368   88.940655   96.331204  4.567792
14   99.480794  106.777755  100.755250  102.337933  4.628280
15   98.252223   85.622824   95.058105   92.977717  4.532360
16   92.015359   91.572591  118.338145  100.642032  4.611570
17  103.373767   99.812206   83.746538   95.644170  4.560635
18  101.657053   82.436170   95.645646   93.246289  4.535244
19   92.452915  109.081647  110.384038  103.972867  4.644130
20  105.326871  109.938537  111.486891  108.917433  4.690590